# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
venv/
env/
.venv/

# Conda
.env

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# Streamlit cache
.streamlit/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Model checkpoints (keep if needed)
*.h5

# Temporary files
*.tmp

dataset/
archive-3.zip
models/deepfer_final_model.keras